.fondo {
  background-image: url(../img/fondo.jpg);
  background-size: cover;
}
.encabezado {
  background-color: hsla(223, 48%, 76%, 0.51);
  min-height: 5rem;
}
.aside {
  background-color: rgba(65, 236, 230, 0.8);
}
img {
  width: 100%;
  padding: 5px;
  text-align: center;
}
.favor {
  margin-left: 20px;
}
ul {
  list-style: none;
}
.titulo {
  min-height: 5rem;
}
.principal {
  background-color: rgba(102, 140, 226, 0.8)
}
.avatar {
  width: 10%;
}
p {
  margin-left: 10px;
}
